* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.haru {
  height: 200px;
  width: auto;
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
}

.natsu {
  height: 200px;
  width: auto;
  background-image: url(img/box2.jpg);
  background-position: center;
  background-size: cover;
}

.aki {
  height: 200px;
  width: auto;
  background-image: url(img/box3.jpg);
  background-position: center;
  background-size: cover;
}

.huyu {
  height: 200px;
  width: auto;
  background-image: url(img/box4.jpg);
  background-position: center;
  background-size: cover;
}
